.MyTabStyle .ajax__tab_header
{
    font-family: calibri;
    font-size: 16px;
    display: block;
    vertical-align: middle;
    padding-top: 5px;
}


.MyTabStyle .ajax__tab_header .ajax__tab_outer
{
    border-color: #222;
    color: #808080;
    padding-left: 10px;
    border: solid 1px #d7d7d7;
    height: 30px;
    vertical-align: middle;
    padding-top: 5px;
    background-color: #F0F0F0;
}
.MyTabStyle .ajax__tab_header .ajax__tab_inner
{
    border-color: #666;
    color: #808080;
    padding: 3px 10px 2px 0px;
    vertical-align: middle;
}


.MyTabStyle .ajax__tab_hover .ajax__tab_outer
{
    background-color: #EEEEEE;
}
.MyTabStyle .ajax__tab_hover .ajax__tab_inner
{
    color: #333333;
    background-color: #EEEEEE;
}


.MyTabStyle .ajax__tab_active .ajax__tab_outer
{
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #6699FF;
    vertical-align: middle;
    padding-top: 5px;
    background-color: #FFFFFF;
    color: #000000;
}
.MyTabStyle .ajax__tab_active .ajax__tab_inner
{
    color: #000;
    border-color: #333;
    background-color: #FFFFFF;
}


.MyTabStyle .ajax__tab_body
{
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    font-family: calibri;
    font-size: 12pt;
    background-color: #FFFFFF;
}